

.awesome-cards {
  display: flex;
  justify-content: space-between;
}
.awesome-card {
  display: inline-block;
  box-sizing: border-box;
  width: 387px;
}


.awesome-card__icon {
  display: flex;
  justify-content:center;
  margin: 0 auto;
}
.awesome-card__title {
  display: flex;
  justify-content: space-around;
  padding-top: 34px;
  font-size: 18px;
  line-height: 25px;

  font-family: "Open Sans";


}
.awesome-card__discription {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway";
  width: 318px;
  
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  margin-top: 30px;
}
