.footer {
  background-color: black;
  width: 100%;
  
}
.container-social-networks{
  display: flex;
  flex-direction: column;
  min-height: 164px;
  min-width: 540px;
  justify-content: center;
  align-items: center;
}
.social-networks {
  display: flex;
  padding-top: 35px;
}
.social-networks-block__icon-image {
 padding: 10px 10px;
 height: 70px;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway";
}
