.footer {
  background-color: black;
  width: 100%;
  min-height: 164px;
}
.social-networks {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.social-networks-block__icon-image {
  padding-left: 17px;
  padding-right: 17px;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway";
}
