@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
@import "reset.css";
@import "awesome.css";
@import "container.css";
@import "tabs.css";
@import "header-seaction.css";
@import "pricing-options.css";
@import "main-header.css";
@import "customers.css";

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
