.section-header__tabs {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 auto;
}
.tabs__navigation {
  padding-top: 100px;
}

.tabs__nav {
  border: none;
  background-color: #ffff;
  padding: 10px 70px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans";
}

.tabs__nav--active {
  border: 1px solid #c5cbcd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  top: 1px;
}
.tab__columns {
  display: flex;
  border: 1px solid #c5cbcd;
  width: 100%;
  min-height: 500px;
}

.left-tab__column {
  padding-left: 100px;
  padding-right: 30px;
  margin-right: 3opx;
}

.section-header__title-tabs {
  font-family: "Open Sans";
  height: 124px;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 41px;
}
.section-header__subtitle-tabs {
  width: 570px;
  height: 210px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway";
  display: flex;
  align-items: center;
  text-align: start;
}
.button__tabs {
  padding-top: 40px;
}
.button-dowload__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec7979;
  min-width: 270px;
  min-height: 58px;
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 25px;
  border: none;
  cursor: pointer;
}
.button-dowload__tabs:hover {
  background-color: #AB4949;
}
.image__statue {
  display: inline-block;
  width: 100%;
}
.image__freedom-statue {
  min-width: 100%;
  min-height: 100%;
}
